.chat{
  .header{
    border-bottom: 1px solid #eee;
    .left-header{
      float: left;
      .left-header__title {
        color: #333;
        font-size: 20px;
      }
      .left-header__members{
        .member{
        color: $FontColorLightGray;
        font-size: 12px;
        }
      }
    }
    .right-header{
      float: right;
      .right-header__button{
        border: 1px solid $ActColorBlue;
        color: $ActColorBlue;
        float: right;
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .messages{
    overflow: scroll;
      overflow-x: scroll;
      overflow-y: scroll;
    .message{
      .upper-message{
        .upper-message__user-name{
          float: left;
          color: $FontColorDarkGray;
          font-size: 16px;
          font-weight: bold;
        }
        .upper-message__date{
          color: $FontColorLightGray;
          font-size: 12px;
        }
      }
      .lower-message{
        .lower-message__content{
          color: $FontColorDarkGray;
          font-size: 14px;
        }
      }
    }
  }

  .form{
    #new_message{
      .form__message{
        float: left;
        height: 50px;
        border: none;
        width: calc(100% - 150px);
        @include placeholderColor($FontColorDarkGray);
        padding-left: 10px;
      }
      .form__mask{
        background-color: #fff;
        height: 50px;
        padding-right: 10px;
        float: left;
        .form__mask__image{
          font-size: 20px;
          line-height: 50px;
        }
      }
      .form__submit{
        height: 50px;
        background-color: $ActColorBlue;
        border: none;
        float: right;
        color: $FontColorWite;
      }
    }
  }
}
