.warpper{
  width: 100%;
  height: 100%;
}

.side-bar {
  float: left;
  width: 300px;
  .header {
    height: 100px;
    background-color: #253141;
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.chat {
  width: calc(100vw - 300px);
  position: fixed;
  top: 0px;
  left: 300px;
  .header{
    height: 100px;
  }
  .messages {
    background-color: #fafafa;
    height: calc(100vh - 190px);
  }
}

.form {
  height: 90px;
  background-color: #ddd;
}
